<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin console</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script type="text/javascript" th:src="@{book-scrapping-app.js}"></script>
    <script type="text/javascript" th:src="@{/controller/book-scrapping-controller.js}"></script>
    <script type="text/javascript" th:src="@{/service/book-scrapping-service.js}"></script>
</head>
<body style="background: transparent;" ng-app="bookScrappingModule" ng-controller="BookScrappingController as ctrl">
<center>
    <h4 style="color: #31a5ce; font-weight: 700; font-size: 35px; position: relative;">Welcome to Book-Scrapping admin console</h4>
</center>
<center>
    <table class="table">
        <thead>
        <tr>
            <th>Index</th>
            <th>Link URL</th>
            <th>Button</th>
            <th>Is Downloading</th>
        </tr>
        </thead>
        <tbody ng-repeat="lc in ctrl.linkContents">
        <tr class="success">
            <td>{{$index + 1}}</td>
            <td>{{lc.linkUrl}}</td>
            <td><button type="button" class="btn btn-danger" ng-disabled="lc.submit" ng-click="ctrl.submit(lc.id)">{{lc.linkUrl}}</button></td>
            <td><b style="color: #190903">{{lc.submit}}</b></td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>